  {% for result in results %}
    <div class="movie-container">
      <div class="movie-poster">
        <img src="https://image.tmdb.org/t/p/original{{ result['poster_path'] }}" alt="Movie Poster">
      </div>
      <div class="movie-details">
        <h1>{{ result['original_title'] }}</h1>
        <p>{{ result['overview'] }}</p>
        <button class="read-more">Read More</button>
      </div>
    </div>
{#    <div class="container">#}
{#      <div class="image">#}
{#        <img src="https://image.tmdb.org/t/p/original{{ result['poster_path'] }}" alt="Image">#}
{#      </div>#}
{#      <div class="description">#}
{#        <h3>{{ result['original_title'] }}</h3>#}
{#        <p>{{ result['overview'] }}</p>#}
{#      </div>#}
{#    </div>#}
  {% endfor %}
